<id class="container-question">

  <h1>Ask the stupid coach a question!</h1>
  <form action="/answer" method="get">
    <input type="text" class="form-control" name="question" placeholder="Ask the coach">
    <input type="submit" class="btn btn-danger" value='Ask!'>
  </form>

</id>
